@model List<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Emlak Kira Takibi</title>
</head>
<body>
    @using (Html.BeginForm("KurGetir","Home",FormMethod.Post,null))
    { 
    <div> 
        <label>Şehir Seçiniz:</label>
    </div>
    <div>
        <select name="paraBirimi ">
         @foreach(string prmBirim in Model)
            {
                <option>@prmBirim</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Kiraları Getir"/>
    </div>
    <div>
         @Html.Partial("KurlarListesi",(List<double>)ViewBag.Kurlar)
         </div>
    }
</body>
</html>
